<div class="card-panel hoverable">
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>作业类别</th>
                    <th>发证日期</th>
                    <th>是否已复审</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for key,record in records %}
                <tr>
                    <td>{{ key+1 }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.record_type.name }}</td>
                    <td>{{ record.print_date }}</td>
                    <td>{{ record.is_valid ? '已复审':'未复审' }}</td>
                    <td>

                        <a data-request="{{ __SELF__ }}::onLoadRecord"
                           data-request-data="record_id:{{ record.id }}"
                           data-request-confirm="你确定选择这个操作证吗？"
                           data-request-update="'{{ __SELF__ }}::apply_form': '#record'"
                           href="#" class="waves-effect waves-light btn"><i class="material-icons left">check</i></a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
<div id="record"></div>
